body {
  background-image : url("./night_mood.webp"),
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
  }
  
  .home-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .home-container p {
    font-size: 1.2rem;
  }
  